
<% layout('layouts/boilerplate') %>

<div class="contents container">
  <div class="headd px-2">

     <h3 class="px-3"> <%=blog.title%></h3>
  </div>

  <hr>
  <div class="row ">
    <div class="col-lg-6 col-md-6 col-sm-12 ">
        <center>
        <div class=" m-3">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <% blog.images.forEach((img,i)=>{%>
                    
              <div class="carousel-item   <%= i===0 ? "active" : " " %>">
                <img src="<%=img.url%>" class="d-block w-100" alt="...">
              </div>
              <%} )%>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
            
            </div>
           
            <% if(blog.images.length >1){  %>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
         
          <% } %>
         

         
        </div>


        </div>
        </center>
        <div class="cardbody ">
            <center>
            <h4>By:<%=blog.author.username%></h4>
            </center>
            <hr>
            <p>
              <%=blog.info%> 
            </p>
            <% if( currentUser && blog.author.equals(currentUser._id)){ %>
            <center>
              <div class="d-flex justify-content-center m-2">
              <a href="/Blog/<%=blog._id%>/edit" class="btn btn-outline-secondary bttn mx-2">Edit</a>
              <form method ="post" action="/Blog/<%=blog._id%>?_method=DELETE" >
                <button class="btn btn-outline-secondary bttn">Delete</button>
               </form>
              </div>
             <!--
               <button class="btn btn-outline-secondary bttn">Edit</button>
            <button class="btn btn-outline-secondary bttn">Delete</button>

             --> 
            
            </center>
            <% }%>
            <br>
            <hr>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <% if(currentUser) {%>
        <h4>Add Comment</h4>
  <form nonvalidate class="validated-form" action="/blog/<%=blog._id%>/comments" method="POST"   >
<div class="mb-2">
    <div>
    <label class="form-label" for="body"> Comment:</label>
    <textarea class="form-control m-1" name="comment[body]" id="body" cols="30" rows="3" required></textarea>
    <div class="valid-feedback">
        Looks good!
      </div>
    </div>
</div>

<button class="btn btn-outline-secondary bttn" type="submit">Add </button>
<hr>

</form>
<% } %>


<!--comment section-->
<p>
  <h3>Comments:</h3>
  <% for(let comment of blog.comments){%>
<div class="card mb-1">
    <div class="mb-3 card-body">
        <h6 class="card-subtitle mb-2 text-muted">By: <%=comment.author.username%></h6>
        <p><%=comment.body%></p>
        <% if( currentUser && comment.author.equals(currentUser._id)){ %>
        <form action="/blog/<%=blog._id%>/comments/<%=comment._id%>?_method=DELETE" method="post">
            <button type="submit" class=" btn btn-outline-secondary bttn">Delete</button>
        </form>
        <% }%>
    </div>
</div>
       
<%}%>
</p>


        <!--col end-->
    </div>
   <!--row end-->
  </div>
  <!--content end-->
</div>
<!--/blog.author currentUser.id if current user==campgroud author then it can be deleted-->
